<header class="ly_header">
	<div class="ly_header_inner">
		<p class="el_header_tit hp-reset"><a href="#">クリ★スタ</a></p>
		<!--PC用ナビゲーション-->
		<nav class="bl_header_nav sp-hidden">
			<ul class="bl_header_gnav hp-mtb0">
				<li class="el_header_gnavItem hp-mr55"><a href="#lk_about">About</a></li>
				<li class="el_header_gnavItem hp-mr55"><a href="#lk_service">Service</a></li>
				<li class="el_header_gnavItem"><a href="#lk_news">Contents</a></li>
			</ul>
		</nav>
		<!--ハンバーガーメニュー-->
		<div class="tab-hidden pc-hidden wp-hidden" id="nav-drawer">
			<input id="nav-input" type="checkbox" class="nav-unshown">
			<label id="nav-open" for="nav-input"><span></span></label>
			<div id="nav-content">
				<label class="el_hamburgerClose" for="nav-input"><span></span></label>
				<ul class="bl_hamburger">
					<li class="el_hamburger_item hp-tac"><a href="#lk_about">About</a></li>
					<li class="el_hamburger_item hp-tac"><a href="#service">Service</a></li>
					<li class="el_hamburger_item hp-tac"><a href="#lk_news">News</a></li>
					<li class="el_hamburger_item hp-tac"><a href="#lk_contact">Contact</a></li>
				</ul>
			</div>
			<!--/#nav-content-->
		</div>
		<!--/#nav-drawer-->
	</div>
	<!-- /.ly_header_inner -->
</header>