@charset "utf-8";
//header部分の指定
.ly_header {
	color: #{$c-header};
	height: #{$h-header};
	width: 100%;
	position: fixed;
	z-index: #{$z-header};
	&_inner {
		display: flex;
		width: calc(100% - 30px);
		margin: 20px auto 0;
	}
}
.el_header_tit {
	font-size: 26px;
	flex: 1; //ナビゲーションを右に押し出す
}
.el_header_copy {
	font-size: .625em;
	margin-top: 1.5px;
}
/*---------------------
	ハンバーガーメニュー
----------------------*/
.nav_drawer {
	position: relative;
	display: none;
	@media screen and (max-width:#{$bp-sp}) {
		display: block;
	}
}
.nav_unshown {
	//チェックボックス等は非表示に
	display: none;
}
#nav_open {
	//アイコンのスペース
	display: inline-block;
	width: 30px;
	height: 22px;
	vertical-align: middle;
}
//ハンバーガーアイコンをCSSだけで表現
#nav_open span, #nav_open span:before, #nav_open span:after {
	position: absolute;
	//線の太さ
	height: 2px;
	//長さ
	width: 22px;
	border-radius: 3px;
	background: #fff;
	display: block;
	content: '';
	cursor: pointer;
}
#nav_open span:before {
	bottom: -5px;
}
#nav_open span:after {
	bottom: -10px;
}
#nav_content {
	overflow: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: #{$z-header_nav};
	width: 100%;
	height: 100%;
	background: #{$bgc-header_nav};
	//滑らかに表示
	transition: .3s ease-in-out;
	-webkit-transform: translateX(-105%);
	//左に隠しておく
	transform: translateX(-105%);
}
#nav_input:checked ~ #nav_close {
	//カバーを表示
	display: block;
	opacity: .5;
}
#nav_input:checked ~ #nav_content {
	-webkit-transform: translateX(0%);
	//中身を表示(右へスライド)
	transform: translateX(0%);
	box-shadow: 6px 0 25px rgba(0, 0, 0, .15);
}
.el_hamburgerClose {
	margin: 30px 15px 0 calc(100% - 55px);
	display: inline-block;
	width: 25px;
	height: 25px;
	position: relative;
	border: 2px solid rgba(0, 0, 0, .1);
	cursor: pointer;
	& span::before,
	& span::after {
		display: block;
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		width: 84%;
		height: 16%;
		margin: -8% 0 0 -42%;
		background: #fff;
	}
	& span::before {
		transform: rotate(-45deg);
	}
	& span::after {
		transform: rotate(45deg);
	}
}
.bl_hamburger {
	&_Wrapper {
		position: relative;
	}
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.el_hamburger_item {
	font-size: 1em;
	font-style: italic;
	& + & {
		margin-top: 30px;
	}
}