//- タイトルと概要だけ変数化してあります 適宜編集して下さい
//- パスは基本そのまま。下層ページを作る際に変更する 値:".."
- var title = 'クリスタ中級編'
- var pageDescription = 'クリスタ中級編を作成。'
- var path = '..'
doctype html
html(lang="ja" prefix="og: http://ogp.me/ns#")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="description" content=pageDescription)
		meta(name="viewport" content="width=device-width, initial-scale=1")
		// 検索避けの設定
		meta(meta name="robots" content="noindex,nofollow")
		// twitter card,ogp tag
		meta(meta name="twitter:card" content="summary_large_image")
		meta(meta name="twitter:site" content="ユーザー名")
		meta(meta property="og:title" content="クリスタ中級編")
		meta(meta property="og:type" content="website")
		meta(meta property="og:url" content="記事のURL")
		meta(meta property="og:site_name" content="サイト名")
		meta(meta property="og:image" content="画像URL")
		meta(meta property="og:description" content="クリスタ中級編を作ってみたよ")
		// Facebook用の記述
		meta(property="fb:app_id" content="[app_id]")
		title #{title}
		link(rel="stylesheet" href=path + "/css/style.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif|Noto+Serif+JP&display=swap")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		//script(src="js/main.js")
	body
		.ly_body_inner
			include ../layout/_header.pug
			///.header
			p テストだぞ！！　
			include ../layout/_footer.pug
			///.footer
		///.ly_body_inner