header.ly_header
	.ly_header_inner
		p.el_header_tit
			a(href="#")
				span.el_header_badge D
				|DIGSMILE INC.
		//ハンバーガーメニュー
		.nav_drawer.pc_hidden.tab_hidden
			input#nav_input.nav_unshown(type="checkbox")
			label#nav_open(for="nav_input")
				span
			#nav_content
				label.el_hamburgerClose(for="nav_input")
					span
				.bl_hamburgerWrapper
					ul.bl_hamburger
						li.el_hamburger_item.hp_tac
							span.el_header_badge D
						li.el_hamburger_item.hp_tac
							a(href="pages/about.html") ABOUT US
						li.el_hamburger_item.hp_tac
							a(href="index.html#lk_works") WORKS
						li.el_hamburger_item.hp_tac
							a(href="index.html#lk_culture") CULTURE
						li.el_hamburger_item.hp_tac
							a(href="index.html#lk_topics") TOPICS
						li.el_hamburger_item.hp_tac
							a(href="pages/contact.html") CONTACT
		///.nav_drawer
		p.el_header_copy MENU!!