header.ly_header
	.ly_header_inner
		p.el_header_tit
			a(href="#") DIGSMILE INC.
			//バッヂ挿入
		//ハンバーガーメニュー
		.pc_hidden.tab_hidden.nav-drawer
			input#nav-input.nav-unshown(type="checkbox")
			label#nav-open(for="nav-input")
				span
			#nav-content
				label.el_hamburgerClose(for="nav-input")
					span
				.bl_hamburgerWrapper
					ul.bl_hamburger
						li.el_hamburger_item.hp_tac
							//バッヂ挿入
						li.el_hamburger_item.hp_tac
							a(href="pages/about.html") ABOUT US
						li.el_hamburger_item.hp_tac
							a(href="index.html#lk_works") WORKS
						li.el_hamburger_item.hp_tac
							a(href="index.html#lk_culture") CULTURE
						li.el_hamburger_item.hp_tac
							a(href="index.html#lk_topics") TOPICS
						li.el_hamburger_item.hp_tac
							a(href="pages/contact.html") CONTACT